
.donateh1{
    text-align: center;
}
.CatDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1%;
}
.catbtn{
    margin: 1%;
    width: 20vh;
    height: 4vh;
}