
.donateh1{
    text-align: center;
}

.inputdiv{
    display: flex;
    justify-content: center;
}
.btncat{
    margin: 1%;
}

@media screen and (max-width: 360px ) {
    .inputdiv{
      flex-direction: column;
      align-items: center;
    }
  
  
  }
